@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row BTs-not-sized">
    <img src="~/images/Leafcutter_ants_transporting_leaves.jpg" width="120"
         style="float:left; padding-right:10px " height="120" /><h1>Bug Tracker 306</h1>
    <p class="lead">Bug Tracker 306 is a free web-based tool for helping you build great web 
    sites and other applications using APL, Basic, C#, Easel, Fortran, Pascal, or whatever tools
    you choose.
      @*& &raquo raquo;*@</p>
</div>

<div class="row BTs-not-sized">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p> 
        The first thing to do is select a pair of administrators.  (One will do, but I believe
        everything should have a backup.)  Bug Tracker 306 is based around projects.  The
        second step is to have a project manager.  More on his or her role later. </p>
        <p> To get started login or register (click in the upper right).</p>
    </div>
    <div class="col-md-4">
        <h2>Tickets</h2>
        Then one has submitters.  Submitters are the people
        who turn a critical eye to the work.  When they notice something amiss they open a
        ticket.  Tickets are normally a piece of work that can be completed in an afternoon, a day,
        or perhaps a week.  In programming submitters are people who test the code and it is
        the developers who correct the defect.  Once the defect has been corrected it is
        marked as resolved.
        </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>Projects can be large or small.  However it makes the most sense to have a project
        be a group of 3-15 people working towards a common goal.  For larger-scale operations
        one should create two or more projects in Bug Tracker 306 so things stay in control
        for the managers, submitters, and developers.</p>
    </div>
</div>