
@{
    ViewBag.Title = "View";
}

<h2 class="BTs-head2">Thank you</h2>
<p class="BTs=para"> Please check your inbox for a confirmation.  Your confirmation of an eMail
    address makes the system more secure.</p>

