@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1 class="BTs-head3">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p class="text-warning"> @ViewBag.Status</p>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
